{{>layout/headermain}}

<div class="main">
    <section class="module bg-dark-60 about-page-header" data-background="/image/inst_pn_test1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">아이에스오토모빌</h2>
                    <div class="module-subtitle font-serif">아이에스오토모빌은 오늘도 여러분께 새로운 차를 제시하며 앞장섭니다.</div>
                </div>
            </div>
        </div>
    </section>

    <section class="module pt-0 pb-0" id="about">
        <div class="row position-relative m-0">
            <div class="col-xs-12 col-md-6 side-image" data-background="/image/about_company.png"></div>
            <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="module-title font-alt align-left">회사소개</h2>
                        <div class="module-subtitle font-serif align-left">프리미엄자동차 직수입 전문 브랜드 아이에스오토모빌</div>
                        <p>프리미엄 자동차 직수입 영역을 넘어, 향후 자동차 문화 산업 전반에 걸쳐 새로운 시장을 기획하는 기업으로 성장하겠습니다.</p>
                        <p>직수입 자동차 문화의 대중화를 위해 앞장서겠습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="module" id="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">IS GROUP</h2>
                    <div class="module-subtitle font-serif">아이에스 그룹을 통해 새로운 자동차를 경험해 보십시오.</div>
                </div>
            </div>
            <div class="row">
                <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                    <div class="team-item">
                        <div class="team-image"><img src="/image/team-1.jpg" alt="Member Photo"/>
                            <div class="team-detail">
                                <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                            </div>
                        </div>
                        <div class="team-descr font-alt">
                            <div class="team-name">IS AUTOMOBILE</div>
                            <div class="team-role">프리미엄 자동차 수입 주문 및 판매</div>
                        </div>
                    </div>
                </div>
                <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                    <div class="team-item">
                        <div class="team-image"><img src="/image/team-2.jpg" alt="Member Photo"/>
                            <div class="team-detail">
                                <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                            </div>
                        </div>
                        <div class="team-descr font-alt">
                            <div class="team-name">IS RENT A CAR</div>
                            <div class="team-role">사고대차, 장기렌트, VIP의전까지 모든 렌트 서비스 제공</div>
                        </div>
                    </div>
                </div>
                <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                    <div class="team-item">
                        <div class="team-image"><img src="/image/team-3.jpg" alt="Member Photo"/>
                            <div class="team-detail">
                                <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                            </div>
                        </div>
                        <div class="team-descr font-alt">
                            <div class="team-name">IS FM</div>
                            <div class="team-role">오토종합할부에이전시</div>
                        </div>
                    </div>
                </div>
                <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                    <div class="team-item">
                        <div class="team-image"><img src="/image/team-4.jpg" alt="Member Photo"/>
                            <div class="team-detail">
                                <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                            </div>
                        </div>
                        <div class="team-descr font-alt">
                            <div class="team-name">IS 캐쉬&대부</div>
                            <div class="team-role">오토담보대출사업</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="module bg-dark-60" data-background="/image/bently_about.jpg">
        <div class="container">
                <div class="row">
                <div class="col-sm-12">
                    <div class="video-box">
                        <div class="video-box-icon"><a class="video-pop-up" href="https://www.youtube.com/watch?v=o-D056erRFo"><span class="icon-video"></span></a></div>
                        <div class="video-title font-alt">Youtube</div>
                        <div class="video-subtitle font-alt">가장 인기있는 차량을 소개합니다.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{{>layout/footermain}}