{{>layout/headermain}}
<div class="main">
    <section class="module bg-dark-60 about-page-header" data-background="/image/inst_pn_test3.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">아이에스오토모빌</h2>
                    <div class="module-subtitle font-serif">아이에스오토모빌은 오늘도 여러분께 새로운 차를 제시하며 앞장섭니다.</div>
                </div>
            </div>
        </div>
    </section>

    <section class="module pt-0 pb-0" id="about">
        <div class="row position-relative m-0">
            <div class="col-xs-12 col-md-6 side-image" data-background="/image/section-14.jpg"></div>
            <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="module-title font-alt align-left">오시는길</h2>
                        <div class="module-subtitle font-serif align-left">서울시 서초구 양재대로 11길 36 서울오토갤러리 은관</div>
                        <p>Tel. 02-2059-5099</p>
                        <p>FAX. 02-2059-5098</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{>layout/footermain}}