{{>layout/headermain}}

<div class="main">
    <section class="module bg-dark-60 about-page-header" data-background="/image/inst_pn_test2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">공지사항</h2>
                    <div class="module-subtitle font-serif"> </div>
                </div>
            </div>
        </div>
    </section>
    <section class="module-medium" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div style="text-align: right;">
                        <a href="/notice/save" role="button" class="btn btn-border-d btn-round">글쓰기</a>
                    </div>
                    <br>
                    <table class="table table-horizontal table-bordered">
                        <thead class="thead-strong">
                        <tr>
                            <th>게시글번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>최종수정일</th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                        {{#notice}} <!-- posts라는 List를 순회, for문과 동일하게 생각 -->
                        <tr>
                            <td>{{id}}</td> <!-- {변수명}은 리스트에서 뽑아낸 객체의 필드 사용 -->
                            <td><a href="/notice/update/{{id}}">{{title}}</a></td>
                            <td>{{author}}</td>
                            <td>{{modifiedDate}}</td>
                        </tr>
                        {{/notice}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

{{>layout/footermain}}